.main-container {
	padding: 0;
}

body {
	background: #354355;
	text-transform: capitalize;
	box-sizing: border-box;
}

.list-group-item {
	background: #333333;
	color: white;
}

.alert {
	background: black;
	border: none;
}

#input-feel {
	background: #e6edec;
}

.card {
	border-radius: 0;
	background: #383838;
	color: #fc8b22;
}

.card-header {
	font-weight: bold;
	font-size: 1.5rem;
}

.summary-item {
	margin-bottom: 10px;
}

#step-container {
	height: 470px;
	padding: 20px 50px;
	background: #1e1e1e;
	color: #d5d5d5;
	border: 2px solid rgb(0, 0, 0);
	border-left: 0;
	border-right: 0;
}

#next-step {
	background: #fc8b22;
	font-weight: bold;
	color: #383838;
	border: 2px solid rgb(0, 0, 0);
}

.btn-primary {
	background: #fc8b22;
	font-weight: bold;
	color: #383838;
	border: 2px solid rgb(0, 0, 0);
}

.btn-primary:hover {
	background: #fc8b22;
	font-weight: bold;
	color: #383838;
	border: 2px solid rgb(0, 0, 0);
}

button {
	cursor: pointer;
}

@media (min-width: 576px) {
	body {
		padding-top: 15px;
	}

	.main-container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.card {
		border-radius: 4px;
		border: 2px solid rgb(0, 0, 0);
	}
}
